<!DOCTYPE html>
<html lang="es">

<head>
    {%HEAD%}
</head>

<body>
    <div class="container">
        <h1><i class="icon-rocket"></i> NODE.JS</h1>
        <h3><i class="icon-server"></i> SQLite3 API Server</h3>
        <hr>

        <h2>API: tablas de la base de datos</h2>
        <ul>
            <li><b>Usuarios =></b> /usuarios</li>
            <li><b>Empresas =></b> /empresas</li>
        </ul>
        <footer>
            {%FOOTER%}
        </footer>
</body>

</html>