<!DOCTYPE html>
<html lang="es">

<head>
    {%HEAD%}
</head>

<body>
    <div class="container">
        <h1><i class="icon-rocket"></i> NODE.JS</h1>
        <h3><i class="icon-user"></i> SQLite3 API Client</h3>
        <hr>
        <h2>Consultar API</h2>
        <small><b>URL DE EJEMPLO:</b> http://localhost:8080/[usuarios | empresas]</small>
        <br>
        <input id="srv" class="entrada" type="text" placeholder="IP del Servidor">
        <span>/</span>
        <input id="cmd" class="entrada" type="text" placeholder="CMD de consulta">
        <button id="consultar-btn" class="btn">FETCH</button>
    </div>
    <div class="container">
        <h2>Respuesta:</h2>
        <input id="filtro" class="entrada" type="text" placeholder="Filtrar resultados...">
        <button id="limpiar-btn" class="btn">CLEAR</button>
        <div id="respuesta">
            <!-- RESPUESTA DEL SERVIDOR -->
        </div>
        <div id="formulario">
            <!-- FORMULARIO PARA REGISTRO -->
        </div>
    </div>
    <footer>
        {%FOOTER%}
    </footer>
</body>

</html>